@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-12-12 20:13:10
 * @version $Id$
 */
/*about*/
q{
	quotes:none;
}
.about{
	padding:5em 0;
}
.about h2{
	text-align:center;
	color:#8E0000;
	font-size:3em;
	margin-bottom:24px;
}
.about h3{
	color:#8E0000;
	font-size:2.3em;
	margin-bottom:32px;
}
.about-left img{
	width:365px;
	height:241px;
	float:left;
	padding-right:16px;
}
@media screen and (max-width: 1199px ) and (min-width:992px ){
	.about-left img{
		width:299px;
	}
}
.content-right{
	width:50%;
	float:right;
}
.content-right p{
	font-size:22px;
	color:#000;
}
.content-right span{
	display:inline-block;
	font-size:16px;
	color:rgb(153, 153, 153);
	line-height:29px;
	letter-spacing:0.05em;
}
.events{
	line-height:23px;
	list-style: none;
}
.events li{
	margin-top:16px;
}
.events a{
	text-decoration:none;
	padding-left:32px;
	color:rgb(153, 153, 153);
	position:relative;
	transition:1s;
	letter-spacing:0.1em;
}
.events a img{
	position:absolute;
	top:0;
	left:0;
	transition:1s;
}
.events a:hover img{
	left:15px;
}
.events a:hover{
	color:black;
}
@media screen and (max-width: 991px ) and (min-width:678px ){
	.about-left img{
		width:345px;
	}
	.content-right{
		width:45%;
		float:left;
	}

}
/*imgredients 开始*/
.ingredients{
	padding-bottom:80px;
}
.donec{
	margin-bottom:32px;
}
.ingredients h2{
	color:rgb(142, 0, 0);
	font-size:37px;
	line-height:40px;
	margin-bottom:37px;
}
.donec h3{
	float:left;
	display:inline-block;
	color:#8E0000;
	font-size:48px ;
	line-height: 53px;
	margin:0;
	width:14%;
}
.donec .dones{
	float:right;
	width:86%;
}
.donec h4{
	font-size:22px;
	height:25px;
	color:black;
}
.donec small{
	display:block;
	color:rgb(153, 153, 153);
	font-size:16px;
	line-height:29px;
	margin-top:16px;
}
@media screen and (max-width: 769px ) and (min-width:586px ){
	.about-left,.events{
		padding:0;
	}
	.about-left,.events{
		padding:0 30px;
		box-sizing:border-box;
	}
	.about-left img{
		width:305px;
		height:220px;
	}
	.content-right{
		width:40%;
	}
	.content-right span{
		font-size:12px;
		line-height:20px;
	}
	
}
@media screen and (max-width: 585px ){
	.about-left img{
		width:100%;
		height:100%;
	}
	.content-right{
		width:100%;
	}
	.ingredients h2{
		text-align:center;
	}
	.donec{
		padding:0;
	}
	.donec h3{
		font-size:36px;
		width:20%;
	}
	.donec .dones{
		width:80%;
	}
}